$games-green: #8DC63F;
$games-gray: #373737;
$games-white: #fff;
$games-dark-white: #FCFCFC;


$theme-colors: (
  "primary": $games-gray,
  "green": $games-green
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html { font-size: 10px; }
