@import "./src/assets/scss/styles";
@import '~mdb-ui-kit/css/mdb.min.css';

.navbar {
  display: flex;
  padding: 0;
  box-shadow: none;
  height: 8.7rem;
  margin-top: -1px;
}

ul {
  box-shadow: none;
  width: 100%;
  justify-content: space-evenly;
  background: $games-gray;

  li {
    border: 0;
    padding: 0;
    width: 100%;
    text-align: center;

    &:hover, .selected {
      background-color: $games-green;
    }

    button {
      background: $games-gray;
      border: none;
      color: $games-white !important;
      line-height: 8.6rem;
      text-transform: capitalize;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      font-weight: normal;
      padding: 0;

      &:focus, &:active {
        box-shadow: none;
      }
    }

    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}

@media(min-width: 576px) {
  .navbar {
    height: auto;
  }
}

@include media-breakpoint-up(lg) {
  ul {
    li {
      button {
        font-size: 2.2rem;
        padding: 0 1.2rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  ul {
    li {
      button {
        font-size: 2.8rem !important;
      }
    }
  }
}

@media(min-width: 1400px) {
  ul {
    li {
      button {
        font-size: 3.6rem !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  ul {
    li {
      button {
        font-size: 3rem !important;
        font-weight: 500;
      }
    }
  }
}

//@include media-breakpoint-down(sm) {
//  ul {
//    li {
//      button {
//        font-size: 2.6rem;
//      }
//    }
//  }
//}
